<div class="container">

    <!-- Companies Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Companies</h2>
        </div>

        <div class="col-sm-4" width="400" height="570">
               <img class="img-responsive imageClip" src="http://www.artificialbrains.com/images/google/google-building-44.jpg" max-width="750" max-height="300">
                
            <h3>Google</h3>
            <p>Since the beginning, we’ve focused on providing the best user experience possible. 
            Whether we’re designing a new Internet browser or a new tweak to the look of the homepage, 
            we take great care to ensure that they will ultimately serve you, 
            rather than our own internal goal or bottom line.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/Google" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/google" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/google" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+google/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
           <img class="img-responsive imageClip" src="http://farm4.staticflickr.com/3417/3369025249_62387e7d1e_z.jpg?zz=1" max-width="750" max-height="450">

            <h3>Deloitte</h3>
            <p>“Deloitte” is the brand under which tens of thousands of dedicated professionals in independent 
            firms throughout the world collaborate to provide audit, consulting, financial advisory, risk management, 
            tax and related services to select clients.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/deloitte" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/deloitte" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/deloitte" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+Deloitte/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive imageClip" src="http://cdn5.triplepundit.com/wp-content/uploads/2013/05/Symantec-Headquarters.jpg" width="750" height="450">

            <h3>Symantec</h3>
            <p>Symantec helps consumers and organizations secure and manage their information-driven world. 
            Learn about the company, read what media and analysts have to say about Symantec, or find 
            positions open in our team.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/Symantec" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/symantec" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/symantec" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+symantec/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive imageClip" src="http://a.abcnews.com/images/Business/AP_amazon_kab_140425_16x9_608.jpg" width="750" height="450">

            <h3>Amazon</h3>
            <p>With a mission “to be Earth’s most customer-centric company, 
            where customers can find and discover anything they might want to buy online, 
            and endeavors to offer its customers the lowest possible prices,” Amazon.com 
            and other sellers offer millions of unique new, refurbished, and used items 
            in categories such as books; movies; music & games; digital downloads; electronics 
            & computers; home & garden; toys; kids & baby; grocery; apparel; shoes & jewelry; 
            health & beauty; sports & outdoor; and tools, auto & industrial.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/Amazon" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/amazon" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/amazon" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+amazon/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive imageClip" src="http://cdn.arstechnica.net/wp-content/uploads/2011/11/vmware_headquarters-4eb4083-intro.jpg" width="750" height="450">

            <h3>VMWare</h3>
            <p>The pace of business is melting away rigid structures and requires a 
            new model of IT—one that is fluid, instant and secure. VMware offers 
            that model—Brave New IT, empowering customers to rapidly develop, 
            automatically deliver and safely consume all applications, from 
            traditional to cloud-native, on any device and to manage them 
            through a unified platform.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/vmware" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/vmware" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/VMware?" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+vmware/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
             <img class="img-responsive imageClip" src="http://news.doddleme.com/wp-content/uploads/2012/09/oracle-building.jpg" width="750" height="450">

            <h3>Oracle</h3>
            <p>At Oracle, we want to help you shift that spending balance. 
            We help you simplify your IT environment so that you can free 
            up money, time, and resources to invest in innovation. We do 
            this by providing hardware and software that’s engineered to 
            work together, in the cloud or on premises.</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/Oracle" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/company/oracle" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="https://twitter.com/oracle" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+Oracle/posts" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
