<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">People              
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">People</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-4">
                <h3>Team 3D's</h3>
                <p>This project is for Bus 118W</p>
                <h3>Members:</h3>
                <!-- Photo Image -->
                  <!--    
                <div class="row">
                <div class="col-sm-4 fieldClip" width="400" height="570">
                        <img class="img-responsive imageClip" src="https://media.licdn.com/media/p/6/005/066/0ee/1b25db2.jpg" max-width="750" max-height="300">
            <h3>DAVID TRAN</h3>
             <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/david-tran/6b/406/9a2" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                </div>
             <div class="col-sm-4 fieldClip">
           <img class="img-responsive imageClip" src="https://media.licdn.com/media/p/5/005/099/30e/26a7161.jpg" max-width="750" max-height="450">
            <h3>DAVID WAT</h3>
             <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/pub/david-wat/a8/55a/125" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                </div>
             <div class="col-sm-4 fieldClip">
           <img class="img-responsive imageClip" src="http://i.imgur.com/A8j2pNE.jpg" max-width="750" max-height="450">
                <h3>DIMI MATCOVSCHI</h3>
                <li class="tooltip-social linkedin-link"><a href="https://www.linkedin.com/in/dmatcovschi" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            </div>
        </div>   
        </div>
        -->
   <!-- End of Photo Image -->
   <!--
          <div class="row">
                    <li><a href="https://www.linkedin.com/in/dmatcovschi">Dimi Matcovschi</a></li>
                    <li><a href="https://www.linkedin.com/pub/david-tran/6b/406/9a2">David Tran</a></li>
                    <li><a href="https://www.linkedin.com/pub/david-wat/a8/55a/125">David Wat</a></li>
            </div>
        -->
        </div>
        </div>
        <!-- /.row -->

        <hr>
<div class="container">

    <!-- Companies Profiles -->

    <div class="row">

        <div class="col-sm-4 fieldClip" width="400" height="570">
               <img class="img-responsive imageClip" a href="https://www.linkedin.com/pub/david-tran/6b/406/9a2" src="https://media.licdn.com/media/p/6/005/066/0ee/1b25db2.jpg" max-width="750" max-height="300">
            <h3>DAVID TRAN</h3>
            <p>I Believe in working for tomorrow.</p>
        </div>

        <div class="col-sm-4 fieldClip">
           <img class="img-responsive imageClip" src="https://media.licdn.com/media/p/5/005/099/30e/26a7161.jpg" max-width="750" max-height="450">
     
            <h3>DAVID WAT</h3>
            <p>Sleep is for the weak.</p>
        </div>

        <div class="col-sm-4 fieldClip">
            <img class="img-responsive imageClip" src="http://i.imgur.com/A8j2pNE.jpg" width="750" height="450">

            <h3>DIMI MATCOVSCHI</h3>
            <p>The best of the best.</p>
        </div>

        

    </div>

</div>
<!-- /.container -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
