<div class="container" ng-app="searchFunction">
        
    <div class="row">
        <form class="form-horizontal" style="margin-top:20px">
            <div class="form-group">
                <label for="search" class="col-md-2 control-label">Search:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="search" placeholder="Search Companies or Recruiters..." ng-model="query" onfocus="if(this.value=='A new value') this.value='';">
                </div>
            </div>
        </form>
        <div class="col-md-12">
            <h2 class="page-header">Companies</h2>
        </div>
        <div ng-repeat="company in companies | filter: query" class="col-sm-4 fieldClip" width="400" height="570">
            <img class="img-responsive imageClip thumbnail" ng-src=" {{ company.link }}" >
            <!--  <img class="img-responsive imageClip thumbnail" ng-src=" {{ company.link }}" max-width="700" max-height="350"> -->
              
            <h3> {{ company.name }}</h3>
            <p> {{ company.description }} </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="{{ company.facebook }}" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="{{ company.linkedin}}" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="{{ company.twitter }}" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="{{ company.twitter }}" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <h2 id="recruitersTable" class="page-header">Recruiters</h2>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Company</th>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="recruiter in recruiters | filter: query">
              <td>{{ recruiter.company }}</td>
              <td>{{ recruiter.name }}</td>
              <td>{{ recruiter.email }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

