<footer>
    <div class="container">
        <p><a href="https://github.com/outrightmental/angularjs-tutorial-1">&hearts; on github</a></p>
        <script type = "text/javascript">
        var today = new Date();
			var the_day = today.getDate();
			var the_month = today.getMonth() + 1 ;
			var the_year = today.getFullYear();
			var hours = today.getHours();
			var minutes = today.getMinutes();
			document.write("Today's date and time is: " + the_month + "/" + the_day + "/" + the_year);
			if (minutes < 10){
				minutes = "0" + minutes
			}
			document.write(" " + hours + ":" + minutes + " ")
			if(hours > 11){
				document.write("PM")
			} else {
				document.write("AM")
			}
		</script>
    </div>
</footer>
