<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/about">RecruitCrunch</a>
        </div>
        
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="HeaderController">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{ active: isActive('/about')}"><a href="#/about">About</a>
                </li>
                <li ng-class="{ active: isActive('/companies')}"><a id="companies2" href="#/recruiters">Companies</a>
                </li>
                <li ng-class="{ active: isActive('/recruiters')}"><a id="recruiters" href="#/recruiters">Recruiters</a>
                </li>
                 <li ng-class="{ active: isActive('/people')}"><a href="#/people">People</a>
                </li>
                <li ng-class="{ active: isActive('/contact')}"><a href="#/contact">Contact</a>
                </li>
                <li ng-class="{ active: isActive('/feedbacklogin')}"><a href="#/feedbacklogin">Input Feedback</a>
                </li>
                <li ng-class="{ active: isActive('/feedbackdisplay')}"><a href="#/feedbackdisplay">View Feedback</a>
                </li>
                <li>
					<!-- Presents the current date and time in navbar -->
					<a href = "#date">
						<script type="text/javascript">
							tday=new Array("Sun","Mon","Tue","Wed","Thu","Fri","Sat");
							tmonth=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");

							function GetClock(){
							var d=new Date();
							var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getYear(),nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

								 if(nhour==0){ap=" AM";nhour=12;}
							else if(nhour<12){ap=" AM";}
							else if(nhour==12){ap=" PM";}
							else if(nhour>12){ap=" PM";nhour-=12;}

							if(nyear<1000) nyear+=1900;
							if(nmin<=9) nmin="0"+nmin;
							if(nsec<=9) nsec="0"+nsec;

							document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
							}

							window.onload=function(){
							GetClock();
							setInterval(GetClock,1000);
							}
						</script>
						<div id="clockbox"></div>
					</a>
				</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
 
</nav>
